<h1>ember-drag-drop - Examples</h1>
<h2><a href="https://github.com/mharris717/ember-drag-drop">https://github.com/mharris717/ember-drag-drop</a></h2>

<ul class="nav">
  <li>{{link-to 'A simple Drag and Drop Example'     'simple'}}</li>
  <li>{{link-to 'A Simple Sorting Example with POJO' 'sort'}}</li>
  <li>{{link-to 'A Simple Sorting  with Ember Data'  'sortdata'}}</li>
  <li>{{link-to 'Drag with a handle'                 'handle'}}</li>
  <li>{{link-to 'Nested Sorting with Ember Data'     'nesteddata'}}</li>
  <li>{{link-to 'Tree Sorting with Ember Data'       'treedata'}}</li>
</ul>

{{outlet}}
